body {
  background-color: lightblue;
  font-family: Helvetica;
}
#main {
  width: 80%;
  max-width: 950px;
  border: 1px gray solid;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

#header {
  margin-top: 0;
  padding: 5px;
  height: 250px;
  background: rgb(155, 222, 135);
  text-align: center;
  color: white;
  float: none;
}
label {
  display: block;
}
input {
  width: 30px;
  margin-left: 20px;
}
h2 {
  clear: both;
  padding-top: 20px;
}
/* #button {
  border-radius: 50px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  margin: 20px;
} */
#marks {
  visibility: hidden;
  width: 400px;
  height: 200px;
  background-color: antiquewhite;
}
